gunicorn
imbalanced-learn==0.8.0
imblearn==0.0
json5==0.9.5
jsonify==0.5
jupyter==1.0.0
matplotlib 
mpmath==1.2.1
mypy-extensions==0.4.3
numpy==1.19.5
pandas 
Rtree 
scikit-image==0.18.1
scikit-learn 
scipy 
seaborn 
simplegeneric==0.8.1
spyder 
statsmodels==0.12.2
xgboost==1.4.2
xmltodict

